@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.h1-sub{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #38444c;
    margin-top: 50px;
}

.abonnements{
    display: flex;
    flex-direction: row;
    margin: 50px 120px;
    justify-content: space-between;
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.offer-title {
    background-color: #38444c;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: -20px -20px 20px -20px;
    text-align: center;
}

.offer-container.premium .offer-title {
    position: relative;
}

.offer-container.premium .offer-title::after {
    content: "Top Vente";
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transform: rotate(10deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.offer-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 10px;
}

.main-price {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.price-duration {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}

.promo-price {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}

.promo-highlight {
    color: #4CAF50;
    font-weight: bold;
}

.adhesion-fees {
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
}

.offer-features {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}

.offer-features li {
    font-size: 14px;
    color: #333;
    margin: 5px 5px;
}

.choose-offer-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
}

.choose-offer-btn:hover {
    background-color: #3d8d3f;
}


.offer-features .icon {
    color: #4CAF50;
    font-size: 16px;
    margin-right: 8px;
}
