@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.page-event{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.h1-event{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #38444c;
    margin-top: 50px;
}

.evenement{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 350px;
    margin: 50px auto;
    --g: 1px;
    --b: 5px;
    --c: #a7c957;

    padding: calc(var(--g) + var(--b));
    position: relative;

    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background:
            var(--_g1) var(--_p, 25%) 0   , var(--_g2) 0    var(--_p, 125%),
            var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    transition: 0.5s ease;
}


.sinscrire{
    background-color: #a7c957;
    color: white;
    border-radius: 50px;
    outline: none;
    width: 120px;
    margin: 0 10px 30px 600px;
    padding: 10px;
    transition: 0.4s ease;
    cursor: pointer;
    border: none;
}

.sinscrire:hover,
.sinscrire:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px;
    color: white;
}

#event-img {
    --m:
            radial-gradient(circle ,#000 99%,#0000)
            0 100%/46% 92% no-repeat,
            radial-gradient(circle,#000 99%,#0000)
            100% 0/46% 92% no-repeat;
    -webkit-mask: var(--m);
    mask: var(--m);
    filter: grayscale(.7);
    transition: .3s linear;
    cursor: pointer;
    width: 400px;
    opacity: 1;
}

.evenement:hover{
    --_p: 75%;
}

.evenement:hover #event-img {
    webkit-mask-position: 7.5% 50%,92.5% 50%;
    mask-position: 7.5% 50%,92.5% 50%;
    filter: grayscale(0);
}


.evenement:hover .txt {
    opacity: 1;
    color: black;
}

.txt{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    margin: 10px auto;
    opacity: 0.7;
    transition: .5s ease;
    color: #38444c;
}

.inscription_footer{
    background-color: #38444c;
    display: flex;
    flex-direction: row;
    padding: 50px 0 50px 0;
    border-bottom: 3px solid #4CAF50;
}

.txt_inscription{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: space-around;
    width: 305px;
}

.form_inscription{
    display: flex;
    flex-direction: column;
    margin: 30px  auto;
    justify-content: space-around;
    width: 300px;
}

.form_inscription input{
    width: 300px;
    height: 30px;
}

#arrow{
    width: 75px;
    margin: 50px auto;
}

.btnInscription{
    border-radius: 5px;
    outline: none;
    transform: none;
    height: 40px;
    background-color: #a7c957;
    color: #38444c;
    cursor: pointer;
    transition: 0.3s ease;
    border: 2px solid #38444c;
}

.btnInscription:hover{
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.popup_inscription {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    max-height: 450px;
    overflow-y: auto;
    width: 300px;
}

.popup_inscription.show {
    opacity: 1;
    visibility: visible;
}

.popup_inscription.hide {
    opacity: 0;
    visibility: hidden;
}

.popup_inscription h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    padding: 5px 0 5px 15px;
    color: black;
    margin-bottom: 50px;
    font-weight: bold;
    border-left: 5px solid #a7c957;
}

.popup_inscription .inputbox {
    position: relative;
    width: 250px;
    height: 50px;
    margin-bottom: 25px;
}
.popup_inscription .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px !important;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
}

.popup_inscription .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: "Poppins", sans-serif;
    pointer-events: none;
    width: 100px;
}
.popup_inscription .inputbox input:focus ~ span,
.popup_inscription .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

.overlay_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 2;
}

.overlay_popup.show {
    opacity: 1;
    visibility: visible;
}

#submitButton {
    width: 250px;
    background: #a7c957;
    color: white;
    border: white;
    cursor: pointer;
    transition: 0.2s ease;
}

#submitButton:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.popup_inscription .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.popup_inscription .close:hover {
    color: #ff0000;
}

#addParticipant{
    background-color: #ffffff;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

#addParticipant:hover{
    background-color: #bababa;
}

.add_event {
    margin: 30px auto;
    padding: 50px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 10px;
    border-color: black;
    max-height: 450px;
    width: 400px;
    z-index: -1;
}


.add_event p{
    margin: 0 0 0 55px;
}


.add_event h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    padding: 5px 0 5px 15px;
    color: black;
    margin-bottom: 50px;
    font-weight: bold;
    border-left: 5px solid #a7c957;
}

.add_event .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin:0 auto 25px auto ;
}
.add_event .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
}

.add_event .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: "Poppins", sans-serif;
    pointer-events: none;
}
.add_event .inputbox input:focus ~ span,
.add_event .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}

#addEventButton {
    width: 300px;
    background: #a7c957;
    color: white;
    border: white;
    cursor: pointer;
    transition: 0.2s ease;
}

#addEventButton:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

