@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navBar {
    position: sticky;
    top: 0px;
    background: #38444c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 3px 3px 5px black;
    z-index: 1;
  }
.photoProfil{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}
  
  .navBar a{
    text-decoration: none;
    color: white;
    font-family: "Poppins"; !important ;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
  }
  
  
  .HeadTitle {
    font-size: 24px;
    padding: 10px 15px;
    border: solid white 3px;
  }
  
  .mainNav {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

.menuNavBar li a {
  color: white;
  display: inline-block;
  padding: 5px 5px;
  margin: 25px 25px;
  position: relative;
  text-decoration: none;
}

.menuNavBar li a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  height: 1.5px;
  background-color: white;
  transition: left 0.3s ease, right 0.3s ease;
}

.menuNavBar li a:hover::after {
  left: 8px;
  right: 8px;
}


.deroulant {
    position: relative;
    z-index: 999;
  
  
  }
  
  .deroulant:hover .menu-link-sousnav {
    display: block;
    visibility: visible;
  }
  
  .menu-link-sousnav {
    display: none;
    transition: all 0.4s ease-in-out;
    position: absolute;
    width: max-content;
    top: 80px;
    right: 0;
    background: #242424;
    padding: 10px 20px;
    text-align: center;
    
  }
  
  .sidebar{
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    z-index: 10;
    width: 250px;
    height: 100vh;
    margin: 0;
    background-color: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .menu-link-sousnav li a {
    margin: 0;
    padding: 20px 0 0 25px;
    color: white;
  }
  .sidebarBtnA{
    padding-bottom: 100px !important;
  }
  
  
  .menu_btn_close{
    display: none;
    position: absolute;
    visibility: visible;
    top: 50px;
    right: 50px;
    width: 35px;
  }
  
  .menu_btn_open{
    display: none;
    position: absolute;
    visibility: visible;
    top: 50px;
    
    margin-left: 90px;
    right: 50px;
  
    width: 35px;
    margin-bottom: 100px;
  }
  
  .menu_btn:hover{
    cursor: pointer;
  }
  
  @media screen and (max-width:900px){
  
    body{
      font-size: 14px;
      line-height: 24px;
    }
    .hideOnMobile{
      visibility: hidden !important;
    } 
    .menu_btn_open{
      display: block;
      z-index: 999;
      cursor: pointer !important;
  
    }
    .sidebarBtnA{
      background: none !important;
      cursor: default !important;
    }
  
    .menu_btn_close{
      display: block;
      z-index: 999;
      cursor: pointer !important;
      
    }
  } 
  
  
  @media screen and (max-width:700px){
  
  }
  