/* Réinitialisation du style pour tous les éléments */

/* Styles pour le body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour le header */
header {
    background-color: #38444c;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.header-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.section-title {
    padding-top: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#performance-overview {
    margin-bottom: 40px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stat-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.stat-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.stat-value {
    font-size: 1.5rem;
    color: #a7c957;
}

/* Styles pour le tableau de performance */
#performance-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

#performance-table th,
#performance-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

#performance-table th {
    background-color: #a7c957;
    color: white;
}

#performance-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Styles pour la section des graphiques */
#performance-graphe {
    text-align: center;
}

.chart {
    max-width: 100%;
}

.chart canvas {
    align-content: center;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Styles pour le footer */
#main-footer {
    background-color: #38444c;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

/* Styles pour le conteneur du bouton */
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Styles pour le bouton */
#add-performance-btn {
    background-color: #a7c957;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-performance-btn:hover {
    background-color: #a7c957;
}

#add-performance-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px #a7c957;
}

.overlayForm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
}

.form-submit {
    padding: 0.75rem;
    background-color: #a7c957;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-input{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    box-sizing: border-box;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #a7c957;
}