

.containerPerf {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.section-titlePerf {
    padding-top: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#performance-overviewPerf {
    margin-bottom: 40px;
}

.statsPerf {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stat-itemPerf {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.stat-titlePerf {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.stat-valuePerf {
    font-size: 1.5rem;
    color: #a7c957;
}

/* Styles pour le tableau de performance */
#performance-tablePerf {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

#performance-tablePerf th,
#performance-tablePerf td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

#performance-tablePerf th {
    background-color: #a7c957;
    color: white;
}

#performance-tablePerf tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Styles pour la section des graphiques */
#performance-graphePerf {
    text-align: center;
    align-content: center;
}
.chartPerf canvas {
    width: 100%;
    height: auto;
    align-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Styles pour le footer */
#main-footerPerf {
    background-color: #38444c;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

/* Styles pour le conteneur du bouton */
.button-containerPerf {
    text-align: center;
    margin-top: 20px;
}

/* Styles pour le bouton */
#add-performance-btnPerf {
    background-color: #a7c957;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-performance-btnPerf:hover {
    background-color: #a7c957;
}

#add-performance-btnPerf:focus {
    outline: none;
    box-shadow: 0 0 0 3px #a7c957;
}

.overlayFormPerf {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-containerPerf {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
}

.form-submitPerf {
    padding: 0.75rem;
    background-color: #a7c957;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-inputPerf,
.form-selectPerf{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    box-sizing: border-box;
}

.form-radio-groupPerf {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-radioPerf {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    font-size: 1rem;
}

.form-radioPerf input {
    position: absolute;
    cursor: pointer;
    appearance: none;
}

.custom-radioPerf {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #a7c957;
    transition: background-color 0.3s ease;
}


.form-radioPerf input:checked + .custom-radioPerf {
    background-color: #a7c957;
    border-color: #a7c957;
}


.form-radioPerf input:checked + .custom-radioPerf::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: block;
}


.form-radioPerf:hover input:not(:checked) + .custom-radioPerf {
    background-color: #eaeaea;
}


.close-btnPerf {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close-btnPerf:hover {
    color: #a7c957;
}